<ion-content class="inicio" scrollY="false">
  <ion-header class="header">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-card class="opciones">
            <ion-label class="radio-inputs">
              <label class="radio" (click)="irInicio('si')">
                <input type="radio" disabled>
                <span class="name"><ion-icon  name="play" style="color: #333;"></ion-icon></span>
              </label>
              <label class="radio">
                <input type="radio"  checked="">
                <span class="name"><ion-icon  name="folder" style="color: #EEE;"></ion-icon></span>
              </label>
            </ion-label>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header> 
  <ion-grid  style="overflow-y: auto; max-height: 100%;">
    <ion-row>
      <ion-col class="video" size-xs="12" size-sm="4" size-md="12" size-lg="12" >
        <ion-card class="contenedor">
          <img  width="100%" height="100%" (click)="presentAlert(1)" src="../../../assets/Videos/Principiante.gif">
        </ion-card>
      </ion-col>
      <ion-col class="video" size-xs="12" size-sm="4" size-md="12" size-lg="12" >
        <ion-card class="contenedor">
          <img width="100%" height="100%"  (click)="presentAlert(2)" src="../../../assets/Videos/Intermedio.gif">
        </ion-card>
      </ion-col>
      <ion-col class="video" size-xs="12" size-sm="4" size-md="12" size-lg="12" >
        <ion-card class="contenedor">
          <img width="100%" height="100%" (click)="presentAlert(3)" src="../../../assets/Videos/Experto.gif">
        </ion-card>
      </ion-col>
      <ion-col size="12" >
        <svg class="adorno2" width="515" height="366" viewBox="0 0 515 366" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M515 160.5C515 160.5 444 198.5 256.5 115C69 31.4996 39.5 108 39.5 108L69 350L444 350L515 160.5Z" fill="black" fill-opacity="0.5"/>
          <path d="M0 112.888C0 112.888 71.0747 163.644 258.772 52.1143C446.469 -59.4152 476 42.7651 476 42.7651L446.469 366L71.0747 366L0 112.888Z" fill="black" fill-opacity="0.5"/>
        </svg>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
