$primary: #ffffff;
ion-content, ion-header {
  --background: $primary;
}
.inicio {
  background: $primary;
  width: 100%;
  height: 100%;
  position: relative;
}
.header
{
  background: #1d1c1c;
  box-shadow: 60px rgba(0, 0, 0, 0.804);
  border-radius: 0px 0px 15px 15px;
  width: 100%;
  padding: 0%;
  margin: 0%;
  height: 13%;
}
ion-avatar{
  width: 70%;
  height: 70%;
  background-color: #EEE; 
  margin-left: 5%; 
  margin-top: 5%;
}
.opciones{
  position: relative;
  left: -12%;
  border-radius: 100px;
}
.contenedor{
  position: relative;
  left: 17%;
}
img{
  width: 100%;
  height: 100%;
}
.radio-inputs {
  position: relative;
  display: flex;
  background-color: #EEE;
  box-sizing: border-box;
  padding: 6%;
  width: 100%;
}
.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}
.radio-inputs .radio input {
  display: none;
}
.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: none;
  padding: 5%;
}
.radio-inputs .radio input:checked + .name {
  background-color: #333;
  font-weight: 600;
}
.adorno2 {
  display: none;
  }

//===========================================================RESPONSIVE===========================================
@media screen   and (min-height: 200px)
{
  .header{ padding: 5%;}
  ion-avatar{ width: 50%; height: 100%; margin-left: -5%; margin-top: -25%;}
  .radio-inputs {padding: 1%;}
  .opciones{margin-top: -8%;}
  .contenedor { z-index: 1;margin-top: 10%; margin-left: 0%; width: 100%; height: 80%;}
}
@media screen   and (min-height: 250px)
{
  .contenedor {margin-top: 10%; margin-left: -18%; height: 60%;}
  .adorno2{ display:flex; position:fixed; margin-top: -25%; margin-left: -12%; width: 122%; height: 200%; }
}
@media screen   and (min-height: 300px)
{
  .header{ padding: 6%;}
  .contenedor {margin-top: 20%; height: 70%; margin-left: -18%;}
  .adorno2{ display:flex; position:fixed; margin-top: -30%;}
}
@media screen   and (min-height: 400px)
{
  .header{ padding: 7%;}
  ion-avatar{ width: 60%; margin-left: -10%; margin-top: -30%;}
  .radio-inputs {padding: 3%;}
  .opciones{margin-top: -10%;}
  .contenedor { margin-top: 25%; height: 100%;}
  .adorno2{ display:flex; position:fixed; margin-top: -35%;}
}
@media screen   and (min-height: 500px)
{
  img{ width: 100% ; height: 100%;}
  .contenedor {width: 85%; margin-top: -0%; margin-left: 8%; height: 90%;}
}
@media screen   and (min-height: 600px)
{
  .header{ padding: 5%;}
  ion-avatar{ width: 90%; margin-top: -25%;}
  .radio-inputs {padding: 4%;}
  .opciones{margin-top: -4%;}
  .contenedor{margin-top: 5%;}
  .adorno2{ display:flex; position:fixed; margin-top: -55%; margin-left: -30%; width: 155%; height: 52%; }
}
@media screen   and (min-height: 630px) and (min-width: 350px)
{
  .contenedor{margin-top: 3%;}
  .adorno2{ display:flex; position:fixed; margin-top: -55%; margin-left: -30%; width: 155%; height: 52%; }
}
@media screen   and (min-height: 700px)
{
  .header{ padding: 5%;}
  ion-avatar{ width: 95%; margin-top: -18%; margin-left: -25%;}
  .radio-inputs {padding: 4%;}
  .opciones{margin-top: 0%;}
  .contenedor{margin-top: 7%;}
  .adorno2{ display:flex; position:fixed; margin-top: -55%; margin-left: -30%; width: 155%; height: 52%; }
}
@media screen   and (min-height: 800px)
{
  .contenedor {width: 85%; margin-top: 6%; margin-left: 8%; height: 100%; z-index: 1;}
}
@media screen   and (min-height: 900px)
{
  .contenedor {width: 95%; margin-left: 3%; }
  .adorno2{ display:flex; position:fixed; margin-top: -50%; margin-left: -27%; width: 150%; height: 45%; }
}