$primary: #ffffff;
ion-content, ion-header {
  --background: $primary;
}
.inicio {
  background: $primary;
  width: 100%;
  height: 100%;
  position: relative;
}
.header
{
  background: #1d1c1c;
  box-shadow: 60px rgba(0, 0, 0, 0.804);
  border-radius: 0px 0px 15px 15px;
  width: 100%;
  padding: 0%;
  margin: 0%;
  height: 13%;
}
.opciones{
  position: relative;
  left: -13%;
  border-radius: 100px;
}
.radio-inputs {
  position: relative;
  display: flex;
  background-color: #EEE;
  box-sizing: border-box;
  padding: 6%;
  width: 100%;
}
.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}
.radio-inputs .radio input {
  display: none;
}
.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: none;
  padding: 5%;
}
.radio-inputs .radio input:checked + .name {
  background-color: #333;
  font-weight: 600;
}
.adorno2 {
  display: none;
  }

//===========================================================RESPONSIVE===========================================
@media screen   and (min-height: 200px)
{
  .opciones{margin-top: 1%; margin-bottom: 0%;}
  .contenedor {width: 100%; margin-top: 5%; margin-left: 0%; z-index: 1;}
}
@media screen   and (min-height: 250px)
{
  .opciones{margin-top: 1%; margin-bottom: 0%;}
  .contenedor {width: 100%; margin-top: 10%; margin-left: 0%; z-index: 1; height: 160%;}
  .adorno2{ display:flex; position:fixed; margin-top: -20%; margin-left: -27%; width: 150%; height: 200%; }
}
@media screen   and (min-height: 300px)
{
  .contenedor {z-index: 1; margin-top: 15%; height: 100%;}
  .adorno2{ display:flex; position:fixed; margin-top: -24%; margin-left: -15%; width: 130%; height: 180%; }
}
@media screen   and (min-height: 400px)
{
  img{height: 100%;}
  .contenedor {z-index: 1; margin-left: 10%; margin-top: 20%; height: 80%; width: 80%;}
  .adorno2{ display:flex; position:fixed; margin-top: -20%; margin-left: -15%; width: 130%; height: 190%; }
}
@media screen   and (min-height: 500px)
{
  img{ width: 100% ; height: 100%;}
  .contenedor {width: 85%; margin-top: -0%; margin-left: 8%; height: 90%;}
}
@media screen   and (min-height: 600px)
{
  .contenedor {width: 85%; margin-top: 2%; margin-left: 8%; height: 80%; z-index: 1;}
  .adorno2{ display:flex; position:fixed; margin-top: -57%; margin-left: -27.5%; width: 150%; height: 51%; }
}
@media screen   and (min-height: 700px)
{
  .contenedor {width: 90%; margin-top: 5%; margin-left: 5%; z-index: 1;}
}
@media screen   and (min-height: 800px)
{
  .contenedor {width: 85%; margin-top: 6%; margin-left: 8%; height: 100%; z-index: 1;}
}
@media screen   and (min-height: 900px)
{
  .contenedor {width: 95%; margin-left: 3%; }
  .adorno2{ display:flex; position:fixed; margin-top: -50%; margin-left: -27%; width: 150%; height: 45%; }
}