<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="tertiary" >
      <ion-title><ion-icon name="person-outline"></ion-icon>User</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list class="ion-padding">
      <ion-item>
        <ion-label><ion-icon name="cog-outline"></ion-icon>Configuración</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><ion-icon name="document-text-outline"></ion-icon>Inf.Usuario</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><ion-icon name="lock-closed-outline"></ion-icon>Cerrar sesion</ion-label>
      </ion-item>
  </ion-list>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-segment [(ngModel)]="segmentValue" (ionChange)="onSegmentChange($event)">
        <ion-segment-button value="Niveles">
          <ion-label>Niveles</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Biblioteca">
          <ion-label>Biblioteca</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  <!-- Niveles content -->
  <ion-content class="ion-padding" *ngIf="segmentValue === 'Niveles'">
    <ion-card class="contenedor" *ngFor="let img of nivel; let i = index">
      <ik-image (click)="irPagina(i + 1)" [path]="img"></ik-image>
    </ion-card>
  </ion-content>

  <!-- Biblioteca content -->
  <ion-content class="ion-padding" *ngIf="segmentValue === 'Biblioteca'">
    <ion-card class="contenedor" *ngFor="let img of portada; let i = index">
      <ik-image (click)="presentAlert(i + 1)" [path]="img"></ik-image>
    </ion-card>
  </ion-content>

  <div class="notas nota1">♪</div>
  <div class="notas nota4">♪</div>
  <div class="notas nota2">♬</div>
  <div class="notas nota3">♫</div>
  <div class="notas nota5">♪</div>
  <div class="notas nota6">♪</div>

</div>

