@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&display=swap');

ion-card {
  width: 70%;
  margin: 1rem auto; /* Centrar horizontalmente */
}

ion-menu::part(backdrop) {
  background-color: rgba(255, 0, 255, 0.616);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;
  box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
}

ion-icon {
  margin-right: 1rem;
}

.adorno {
  position: absolute;
  top: 10%;
  right: 10%;
  height: 15vmax;
  width: 15vmax;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  border-radius: 50%;
  z-index: 0;
  opacity: 0.5;
}

.adorno2 {
  position: absolute;
  bottom: 10%;
  left: 10%;
  height: 20vmax;
  width: 20vmax;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  border-radius: 50%;
  z-index: 0;
}

.notas {
  position: absolute;
  font-size: clamp(2rem, 4vw, 4rem);
  animation: flotar 6s ease-in-out infinite;
  z-index: 1;
}

.nota1 {
  top: 20%;
  left: 10%;
}

.nota2 {
  bottom: 15%;
  right: 5%;
  animation-delay: 2s;
}

.nota4 {
  bottom: 15%;
  right: 90%;
  animation-delay: 2s;
}

.nota5 {
  bottom: 50%;
  right: 86%;
  animation-delay: 2s;
}

.nota6 {
  bottom: 80%;
  right: 4%;
  animation-delay: 2s;
}

.nota3 {
  top: 35%;
  right: 7%;
  animation-delay: 4s;
}

.animated-segment {
  transition: transform 0.5s ease-in-out;
}

ion-segment-button {
  &.ion-activated {
    .animated-segment {
      transform: translateX(0);
    }
  }
}

// Cambiar el color de las letras y el borde inferior a morado
ion-segment-button {
  --color-checked: #800080; /* Color morado */
  --indicator-color: #800080; /* Color morado */
}