<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <ion-icon name="person-outline"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <ion-row>
                {{ nombre }}
              </ion-row>
              <ion-row>
                {{ correo }}
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-title>
    </ion-toolbar>
    <ion-list class="ion-padding">
      <ion-item>
        <ion-label><ion-icon name="cog-outline"></ion-icon>Configuración</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><ion-icon name="document-text-outline"></ion-icon>Inf.Usuario</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><ion-icon name="wifi-outline"></ion-icon>Conexion Piano</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><ion-icon name="lock-closed-outline"></ion-icon>Cerrar sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-header>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-segment [(ngModel)]="segmentValue" (ionChange)="onSegmentChange($event)">
        <ion-segment-button value="Niveles">
          <ion-label>Niveles</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Biblioteca">
          <ion-label>Biblioteca</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>

  <!-- Mostrar las portadas según el valor de segmentValue -->
  <ion-content class="ion-padding">
    <!-- Contenido de Niveles -->
    <div *ngIf="segmentValue === 'Niveles'">
      <ion-card class="contenedor">
        <ik-image (click)="Accion('1')" [path]="portadas[0]"></ik-image>
      </ion-card>
      <ion-card class="contenedor">
        <ik-image (click)="Accion('2')" [path]="portadas[1]"></ik-image>
      </ion-card>
      <ion-card class="contenedor">
        <ik-image (click)="Accion('3')" [path]="portadas[2]"></ik-image>
      </ion-card>
    </div>

    <!-- Contenido de Biblioteca -->
    <div *ngIf="segmentValue === 'Biblioteca'">
      <ion-card class="contenedor">
        <ik-image (click)="Accion('4')" [path]="portadas[3]"></ik-image>
      </ion-card>
      <ion-card class="contenedor">
        <ik-image (click)="Accion('5')" [path]="portadas[4]"></ik-image>
      </ion-card>
      <ion-card class="contenedor">
        <ik-image (click)="Accion('6')" [path]="portadas[5]"></ik-image>
      </ion-card>
    </div>
  </ion-content>

  <div class="notas nota1">♪</div>
  <div class="notas nota4">♪</div>
  <div class="notas nota2">♬</div>
  <div class="notas nota3">♫</div>
  <div class="notas nota5">♪</div>
  <div class="notas nota6">♪</div>
</div>
