@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Mr+Dafoe&family=Pacifico&display=swap');

.presentacion *,
.boton {
  box-sizing: border-box;
}
.presentacion { 
  background: #ffffff; 
  background: #FAFAF7; 
  height: 100%;
  width: 100%;
  position: relative;
}
.adorno, .adorno2 {
  position: relative;
  left: -58%;
  margin-top: -5%;
  height: 75%;
  width: auto;
  z-index: 1;
}
#Titulo {
  color: #333;
  font-family: "Mr Dafoe" ;
  color: #090909;
  font-size: 460%;
  position: fixed;
  top: 20%;
  text-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5); 
  z-index: 1;
}
.boton {
  position: fixed;
  left: 50%;
  width: 45%;
  padding: 2%;
  font-family: "Dancing Script";
  color: #ffffff;
  font-size: 200%;
  box-shadow: 5px 5px 10px 5px  rgba(0, 0, 0, 0.681); 
  background: #4b4545;
  border-radius: 100px;
  z-index: 2; 
}
.adorno2 {
  left: -23%;
  height: 95%;
  width: auto;
}

@media screen   and (max-height: 200px)
{
  .adorno, .adorno2 {left: -45%;margin-top: -20%;height: 200%;}
  #Titulo {font-size: 600%; top: 15%;}  
  .adorno2 {display: none;}  
  .boton {top:65%;left:60%;width: 30%;font-size: 200%;}
}
@media screen   and (max-height: 400px)
{
  .adorno, .adorno2 {left: -45%;margin-top: -20%;height: 200%;}
  #Titulo {font-size: 600%; top: 15%;}  
  .adorno2 {display: none;}  
  .boton {top:65%;left:60%;width: 30%;font-size: 200%;}
}
@media screen   and (min-height: 700px)
{
  #Titulo {font-size: 500%; top: 15%;}  
  .adorno2 {margin-top: 30%;height: 90%;}  
  .boton {top:55%;left:45%;width: 45%;font-size: 250%;}
}
@media screen   and (min-height: 800px)
{
  #Titulo {font-size: 500%; top: 15%;}  
  .adorno2 {top: 15%;height: 100%; margin-left: -5%;}  
  .boton {top:55%;left:45%;width: 45%;font-size: 250%;}
}

@media screen and (min-height: 900px)
{
  #Titulo {font-size: 500%; top: 15%;}  
  .adorno2 {top: 15%;height: 100%; margin-left: -5%;}  
  .boton {top:55%;left:45%;width: 45%;font-size: 250%;}
}


@media screen   and (min-width: 360px)
{
  #Titulo {font-size: 600%; top: 15%;}  
  .boton {top:55%;left:45%;width: 45%;font-size: 250%;}
}


@media screen   and (min-width: 360px)
{
  #Titulo {font-size: 600%; top: 20%;}  
  .adorno{ height: 90%; margin-left: -2%;}
}

@media screen   and (min-width: 400px)
{
  #Titulo {font-size: 650%; top: 20%;}  
  .adorno{ height: 100%; margin-left: -2%;}
}

