<ion-grid class="presentacion">
  <!--Contenedor-->
  <ion-row>
    <ion-col>
      <img id="fondo" src="../../../assets/Imagenes/fondo.jpg" >
    </ion-col>
      <!--Titulo-->
    <ion-col size="15">
      <img src="../../../assets/Imagenes/header.svg">
    </ion-col>
      <!--Boton (click)=metodo para ir a pagina de registro-->
    <ion-col size="12">
      <button class="boton" (click)="irPagina()">Empezar</button>
    </ion-col>
    <ion-col size="12">
      <img class="adorno3" src="../../../assets/Imagenes/Gifs/notas.gif">
    </ion-col>
  </ion-row>
</ion-grid>

