
<div class="registro-de-usuario">
  <div class="adorno"></div>
  <div class="adorno2"></div>
  <img src="../../../assets/Imagenes/Logo.svg"/>
  <ion-card class="login-box">
    <form #formulario="ngForm">
      <ion-card-header>
        <a class="texto" (click)="regreso()">Regresar</a>
        <ion-card-title>Registro usuario</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input type="text" name="correo" required="" ngModel label="Correo: "></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" name="clave" required="" ngModel label="Password"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button (click)="iniciarSesion(formulario)">Ingresar</ion-button>
      </ion-card-content>
    </form>
  </ion-card>

  <div class="notas nota1">♪</div>
  <div class="notas nota4">♪</div>
  <div class="notas nota2">♬</div>
  <div class="notas nota3">♫</div>
  <div class="notas nota5">♪</div>
  <div class="notas nota6">♪</div>
</div>