@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  font-family: 'Pacifico', cursive;
  background: linear-gradient(135deg, #3a3d40, #1c1c1e);
  display: flex;
  justify-content: center;
  align-items: center;
}
.registro-de-usuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
img {
  margin-top: -5rem;
  margin-left: 1rem;
  margin-bottom: 5rem;
  height: 15%;
  border-radius: 100%;
  background: #ffffff;
}

.adorno {
  position: absolute;
  top: 10%;
  right: 10%;
  height: 15vmax;
  width: 15vmax;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  border-radius: 50%;
  z-index: 0;
  opacity: 0.5;
}
.texto {
  font-family: 'Dancing Script', cursive;
  font-size: clamp(1rem, 3vw, 6rem);
  margin: 1rem;

}

ion-card-title{
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: clamp(1rem, 3vw, 6rem);


}
ion-input{
  margin: 1rem;
  margin-bottom: 1.5rem;
  font-family: 'Dancing Script', cursive;
  font-size: clamp(1rem, 3vw, 6rem);


}
ion-button{
  --background: #f77f00;
  font-family: 'Dancing Script', cursive;
  --letter-spacing: 1px;
  padding: 1rem 2rem;
  --border-radius: 50px;
  cursor: pointer;
  
}
.adorno2 {
  position: absolute;
  bottom: 10%;
  left: 10%;
  height: 20vmax;
  width: 20vmax;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  border-radius: 50%;
  z-index: 0;
}

.notas {
  position: absolute;
  font-size: clamp(2rem, 4vw, 4rem);
  color: rgba(255, 255, 255, 0.2);
  animation: flotar 6s ease-in-out infinite;
  z-index: 1;
}

.nota1 {
  top: 20%;
  left: 15%;
}

.nota2 {
  bottom: 15%;
  right: 20%;
  animation-delay: 2s;
}

.nota4 {
  bottom: 15%;
  right: 80%;
  animation-delay: 2s;
}

.nota5 {
  bottom: 80%;
  right: 15%;
  animation-delay: 2s;
}

.nota5 {
  bottom: 50%;
  right: 85%;
  animation-delay: 2s;
}

.nota6 {
  bottom: 80%;
  right: 10%;
  animation-delay: 2s;
}

.nota3 {
  top: 35%;
  right: 10%;
  animation-delay: 4s;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes flotar {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@media (max-width: 768px) {
  .notas {
    font-size: 2rem;
  }
  .adorno, .adorno2 {
    height: 10vmax;
    width: 10vmax;
  }
}
