<ion-label class="texto" (click)="irPagina(0)">Regresar</ion-label>

<ion-content *ngIf="pagina == 1">
  <swiper-container (swiperslidechange)="onSlideChange($event)" loop="true">
    <swiper-slide><ik-image [path]="link" ></ik-image></swiper-slide>
    <swiper-slide><ik-image [path]="link" ></ik-image></swiper-slide>
    <swiper-slide><ik-image [path]="link" ></ik-image></swiper-slide>
    <swiper-slide><ik-image [path]="link" ></ik-image></swiper-slide>
    <swiper-slide><ik-image [path]="link" ></ik-image></swiper-slide>
    <swiper-slide><ik-image [path]="link" ></ik-image></swiper-slide>
    <swiper-slide><ik-image [path]="link" ></ik-image></swiper-slide>
    </swiper-container>
</ion-content>

<ion-content *ngIf="pagina == 2">
  <swiper-container (swiperslidechange)="onSlideChange($event)" loop="true">
    <swiper-slide><ik-image [path]="link2" ></ik-image></swiper-slide>
    <swiper-slide><ik-image [path]="link2" ></ik-image></swiper-slide>
    <swiper-slide><ik-image [path]="link2" ></ik-image></swiper-slide>
    <swiper-slide><ik-image [path]="link2" ></ik-image></swiper-slide>
    <swiper-slide><ik-image [path]="link2" ></ik-image></swiper-slide>
    <swiper-slide><ik-image [path]="link2" ></ik-image></swiper-slide>
    <swiper-slide><ik-image [path]="link2" ></ik-image></swiper-slide>
    <swiper-slide><ik-image [path]="link2" ></ik-image></swiper-slide>
    <swiper-slide><ik-image [path]="link2" ></ik-image></swiper-slide>
    <swiper-slide><ik-image [path]="link2" ></ik-image></swiper-slide>
    <swiper-slide><ik-image [path]="link2" ></ik-image></swiper-slide>
    <swiper-slide><ik-image [path]="link2" ></ik-image></swiper-slide>
    <swiper-slide><ik-image [path]="link2" ></ik-image></swiper-slide>
    <swiper-slide><ik-image [path]="link2" ></ik-image></swiper-slide>
  </swiper-container>
</ion-content>

<ion-content *ngIf="pagina == 3">
  <ion-content *ngIf="nivel == 0">
    <ion-card (click)="nivel=1">Acompañamiento</ion-card>
      <ion-card (click)="nivel=2">Melodia</ion-card>
  </ion-content>
  <ion-content *ngIf="nivel == 1">
    <swiper-container (swiperslidechange)="onSlideChange($event)" loop="true">
      <swiper-slide><ik-video path="/Vid/himno" ></ik-video></swiper-slide>
    </swiper-container>
  </ion-content>
  <ion-content *ngIf="nivel == 2">
    <swiper-container (swiperslidechange)="onSlideChange($event)" loop="true">
      <swiper-slide><video id="video" src="../../../assets/Imagenes/himno.mp4" width="90%" height="100%" autoplay playsinline ></video></swiper-slide>
    </swiper-container>
  </ion-content>
</ion-content>

